<h1>Articles</h1>
<% @articles.each do |article|%>
    <%= article.title%>
    <%= article.description%>
    <%= article.author%>
    <%= link_to "Coomennt", :controller => "comments", :action => "index", :article_id=> article.id%>
    <br>
    <br>

<%end%>